.founders {
  background-image: url('/images/team-bg-panel.JPG');
  background-size: 100% 100%;
  padding: 2em 3em;
  margin: 2em 1em;
}
.founders p {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.team li {
  font-size: 0.8em;
}